<div class="card">
  <div class="card-body">
    <h4 class="card-title">Web Developer</h4>
    <h6 class="card-subtitle mb-2">Google</h6>
    <h6 class="card-subtitle mb-2 text-muted">Seattle, WA</h6>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. </p>
    <a class="btn btn-primary">Apply</a>
    <a href="{{url}}" class="btn btn-primary save">Save Job</a>
  </div>
</div>