<div id="chat">
  <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img class="" src="./img/watson_careers_logo166X70.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {{#if user}}
        <div class="row w-100 mx-auto">
          <div class="col">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Jobs <span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
          <div class="col text-right pr-0">
            <button id="getSavedJobs"  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#savedModal">Saved Jobs</button>
          </div>
          <div class="col text-right pr-0">
            <button id="logOut" onclick="logOut()" class="btn btn-primary btn-sm">Sign Out</button>
          </div>
          {{else}}
          <div class="col text-right px-0">
            <button id="logIn" onclick="logIn()" class="btn btn-linkedIn btn-sm"></button>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row mx-auto">
      <div class="botui-app-container pt-5 mt-5 h-100" id="chat-bot">
        <bot-ui></bot-ui>
      </div>
    </div>



    {{!-- modal --}}
 <!-- Modal -->
<div class="modal fade" id="savedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Saved Jobs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id = "saved">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





    {{!-- <div class="container-fluid"> --}}
      <div class="mx-auto">
        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

          <!--Controls-->
          <div class="controls clearfix">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
            <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
          </div>
          <!--/.Controls-->

          <!--Indicators-->
          <ol class="carousel-indicators">
            <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
            <li data-target="#multi-item-example" data-slide-to="1"></li>
            <li data-target="#multi-item-example" data-slide-to="2"></li>
          </ol>
          <!--/.Indicators-->

          <!--Slides-->
          <div class="carousel-inner" role="listbox" id = "cards">
            <!--First slide-->
            <div class="carousel-item active">
            {{!-- <div class="col-md-4" id="cards"></div> --}}
                {{!-- {{> carousel }} --}}
              </div>
            </div>
          </div>
          <!--/.Slides-->

        </div>
        <!--/.Carousel Wrapper-->

      </div>
      {{!-- </div> --}}
    {{!-- <iframe width="350" height="430" src="https://console.dialogflow.com/api-client/demo/embedded/915cb787-abe5-4178-a254-debe8d18c0c8">
    </iframe> --}}
  </div>
</div>
<a class="btn btn-primary" data-toggle="collapse" href="#multi-item-example" role="button" aria-expanded="false"
  aria-controls="collapseExample">
  collapse
</a>




{{!-- javascript required for botui to work with dialogflow chat --}}
<script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
<script src="https://unpkg.com/botui/build/botui.js"></script>
<script src="/js/chat_data.js"></script>
