<div id="chat">
  <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
    <a class="navbar-brand" href="#">
      <img class="" src="./img/watson_careers_logo166X70.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {{#if user}}
      <div class="row w-100 mx-auto">
        <div class="col">
          <p class="text-white mb-0 mt-3">Hello {{user.name.givenName}}</p>
        </div>
        <div class="col text-right pr-0">
          <button id="logOut" onclick="logOut()" class="btn btn-primary btn-sm">Sign Out</button>
        </div>
        {{else}}
        <div class="col text-right px-0">
          <button id="logIn" onclick="logIn()" class="btn btn-linkedIn btn-sm"></button>
        </div>
      </div>
      {{/if}}
    </div>
  </nav>
  <div class="container pt-5 mt-5">
    {{!-- <div class="row">
      <div class="col">
        <img src="./img/watson_careers_logo442X188.png" />
      </div>
      <div class="col">
        {{#if user}}
        <p>Hello {{user.name.givenName}}</p>
        <button id="logOut" onclick="logOut()" class="btn btn-primary btn-sm">Sign Out</button>
        {{else}}
        <button id="logIn" onclick="logIn()" class="btn btn-linkedIn btn-sm"></button>
        {{/if}}
      </div>
    </div> --}}
    <iframe width="350" height="430" src="https://console.dialogflow.com/api-client/demo/embedded/915cb787-abe5-4178-a254-debe8d18c0c8">
    </iframe>
  </div>
</div>