body, .bg-black {
  background-color: black;
}

.list-group-item {
  line-height: 2.5;
}

.btn-linkedIn {
  background: url("../img/Sign-In-Large---Default.png") no-repeat;
  cursor: pointer;
  border: none;
  width: 430px;
  height: 80px;
  border: 1px solid black;
}

.login-centering {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


#saved {
  float: right;
  color: white;
  margin-right: 5%;

  /* top: 10px; */
  

}

/* #userId {
  opacity: 0;
} */

.btn {
  background-color: white,
}

/* equal card height */
.row-equal > div[class*='col-'] {
  display: flex;
  flex: 1 0 auto;
}

.row-equal .card {
 width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
  display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
  opacity: 0.5;
  display: flex;
}


/* control image height */
.card-img-top-250 {
  max-height: 250px;
  overflow:hidden;
}